#formulario-inicio {
    border-radius: 10px;
    background-color: #FFFFFF;
    width: 40%;
}

#form-top{
    border-bottom-style: solid;
    border-color: #fff;
    border-bottom-width: 2px;
    border-bottom-color: #DDD;
}

#form-botton {
    background-color: #eee;
    border-radius: 10px;
}

.formulario{
    width: 80%;
}

#sermaestro{
    color: #848484;
}

#body-image{
    background-size: 155%;
}

#registro{
    font-size: 100%;
    width: 50%;
    height: 40%; 
    color: #fff;
    background-color: #045FB4;
}

#inicio{
    font-size: 100%;
    width: 50%;
    height: 40%; 
    color: #fff;
    background-color: #045FB4;
}

#form-content{
    border-radius: 5px;
}

#navbar{
    border-bottom-style: solid;
    border-color: #fff;
    border-bottom-width: 2px;
    border-bottom-color: #DDD;
}

#prueba{
    color: #fff;
    background-color: #045FB4;
}

#encabezado {
    background: #fff;
    border-radius: 90%;
    height: 125px;
    position: relative;
    width: 125px;
    display: block;
}

#portada {
    border-radius: 90%;
    height: 125px;
    left: 0;
    top: 0;
    width: 125px;
}

#pen-save{
    font-size: 200%;
    color: #045FB4;
    margin-bottom: 6%;
}

#form-content{
    display: block;
}

.form-control{
    height: 100%;
    text-align: center;
    font-size: 15px;
}

#sexo{
    text-align-last: center;
    text-align: center; 
    height: 100%;
}

#form-perfil .form-group{
    width: 90%;
}

#historial{
    margin-bottom: 5%;
    background-color: #fff;
    border-width: 5px;
    border-color: #DDD;
    text-align: center;
    font-size: 150%;
}

body{
    background-image: url("../img/bg.png");
}

#navbar{
    background-image: url("../img/bg-dark.png");
}

footer{
    color: #fff;
    background-color: #1f1f1f;
    position: fixed;
    left:0px;
    bottom:0px;
    width:100%;
}

.form-control{
    border-color: #585858;
    color: #000000;
}

#title-equipo{
    margin-top: 7.5%;
}

#myPokemons{
    margin-top: 5%;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    font-size: 12px;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}

#registroArtificial{
    margin-top: 3%;
    margin-bottom: 3%;
}

#buscarBatalla{
    margin-top: 3%;
    margin-bottom: 3%;
}

#listartificial{
  margin-bottom: 1%;
}

.glyphicon{
  color: #000;
}

.btn{
  font-size: 150%;
  width: 50%;
  height: 110%; 
  background-color: #1f1f1f;
  color: #fff;
}

#guardar{
  font-size: 150%;
  width: 10%;
}

#imgPerfil{
    font-size: 30px;
    color: #045FB4;
}

#imagenPerfil{
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 80%;
    height: 80%;
    position: absolute;
    opacity: 0;
}

.cambiarPokemon{
    width: 100%;
    font-size: 10px;
}
